.body{
    background-color: #ffb6c1;
}

.contact-form-container{
    background-color: #ffb6c1;
    padding: 150px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    bottom : 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2{
    color: #333;
    margin-bottom: 20px;
}

input,input[type=email], textarea{
    width: 100%;
    padding: 10px;
    margin-bottom:10px ;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box/*Ensures padding doesn't affect width*/
}
button{
    background-color: #ff4d6d;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}
button:hover{
    background-color: #e6002e;
}
